@media only screen and (max-width: 768px) {
  html {
    font-size: 75%;

    body {
      display: flex;
      flex-direction: column;
      align-items: center;

      .step {
        margin: 1.5rem;

        &:first-child {
          margin-top: 3rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  html {
    font-size: 62.5%;
  }
}
