@import "../scss/reset";
@import "../scss/fonts";

html {
  @extend %fontfamily;

  body {
    user-select: none;
    max-width: 1200px;
    width: 95%;
    margin: 15vh auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-image: url(../img/bg.png);
    background-repeat: repeat;
    background-size: auto;

    .warning {
      position: fixed;
      top: 5%;
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 90%;
      height: 90%;
      padding: 0 15%;
      border: 0.1rem solid rgba($color: #000, $alpha: 0.1);
      border-radius: 0.6rem;
      background-color: rgba($color: #840724, $alpha: 0.95);
      box-shadow: 0.1rem 0.1rem 3rem #000;

      h1 {
        @extend %title;
        padding: 5%;
      }

      p {
        @extend %warning;
        text-align: center;
        padding: 2%;
      }

      button {
        @extend %button;
        padding: 5%;
        border: none;
        transition: all 0.15s ease-in-out;

        &:hover {
          @extend %button-hover;
          scale: 1.1;
        }

        &:active {
          @extend %button-active;
          scale: 1.2;
        }
      }
    }

    .step {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 20rem;
      height: 30rem;
      padding: 1.5rem;
      margin: 3rem 1rem;
      border: 0.1rem solid rgba($color: #000, $alpha: 0.1);
      border-radius: 0.6rem;
      background-color: rgba($color: #fff, $alpha: 0.1);
      box-shadow: 0.1rem 0.1rem 3rem #000;
      //smooth appearance
      animation-name: open;
      animation-duration: 2s;
      animation-iteration-count: 1;
      animation-direction: normal;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
      animation-delay: 0s;

      h1 {
        @extend %title;
      }

      p {
        @extend %text;
        width: 95%;
      }

      textarea {
        @extend %textarea;
        min-width: 95%;
        min-height: 28%;
        max-width: 95%;
        max-height: 28%;
        padding: 0.3rem 0.6rem;
        background-color: rgba($color: #fff, $alpha: 0.2);
        border-radius: 0.7rem;
        box-shadow: 0.1rem 0.1rem 0.5rem #000;
      }

      label {
        @extend %label;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      input {
        @extend %input;
        text-align: center;
        width: 95%;
        height: 70%;
        padding: 0.5rem 0.3rem 0 0.3rem;
        border: 0.1rem solid rgba($color: #000, $alpha: 0.1);
        background-color: rgba($color: #fff, $alpha: 0.2);
        border-radius: 0.7rem;
        box-shadow: 0.1rem 0.1rem 0.5rem #000;
        transition: all 0.8s ease-in-out;

        &:hover {
          background-color: rgba($color: #fff, $alpha: 0.1);
        }

        &::placeholder {
          @extend %input;
        }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }

      button {
        @extend %button;
        border: none;
        transition: all 0.15s ease-in-out;

        &:disabled {
          @extend %button-disabled;
          cursor: default;
        }

        &:enabled {
          &:hover {
            @extend %button-hover;
            scale: 1.1;
          }

          &:active {
            @extend %button-active;
            scale: 1.2;
          }
        }
      }
    }
  }
}

// adaptive
@media only screen and (max-width: 768px) {
  html {
    font-size: 75%;

    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;

      .step {
        margin: 1.5rem;

        &:first-child {
          margin-top: 3rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  html {
    font-size: 62.5%;
  }
}

// animation
@keyframes open {
  0% {
    display: flex;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    display: flex;
    opacity: 1;
    visibility: visible;
  }
}
